*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
}
.contan{
    display: flex;
    justify-content: center;
    align-items: center;
}
.two{
    width: 100%;
    display: block;

    
}
 .img{
    background-image: url(image/background-pink.webp);
    background-size: cover;
    display: block;
    width: 100%;
    height: 150vh;

    
} 

.result {
    position: relative;
    height: 300px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
   
}

.div1{
   
    height: 50px;
    width:50px;
    background-color: blue;
   
}
.div2{
    height: 50px;
    width:50px;
    background-color: green;
}

.move{
    color: #fff;
    right: 70px;
    position: absolute;
    z-index: 5;
    font-size: 50px;
}
.head{
    color: #fff;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}
.body{
    border: 1px solid #fff;
    height: 650px;
    width: 300px;
    border-radius: 20px;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px 5px;
}
.secondbody{
    border: 1px solid pink;
    height: 600px;
    background-color: pink;
}

.test{
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    color: red;
    font-weight: 600;
}
.input{
    display: flex;
    margin-top: 70px;
    outline: none;
    padding: 5px;
}
.inp{


    outline: none;
    padding: 5px;
    

}
.btn{
    margin-left: 90px;
    margin-top: 60px;
    color: #fff;
}
#danger{
    display: none;
}
.day{
    height: 250px; 
    margin-left: 70px;
}

.three{
    width: 100%;
    display: none;
}
.ay{
    background-image: url(image/second\ bacground.jpg);
    background-size: cover;
    height: 130vh;
    max-width: 100%;
}
.big{
    border: 1px solid;
    
    width: 300px;
    border: none;
    
}
.twolove{
    width: 170px;
    height: 150px;
    margin-left: 70px;

}
.redlove-container{
    width: 300px; 
    height: 300px;
    position: absolute;
}
.redlove{
  
    object-fit: cover;
  
    z-index: 4;
}

.end{
    position: relative;
    /* bottom: 50px; */
    font-size: 30px;
    font-style: italic;
    display: none;

}
    @media screen and (max-width: 478px){
        .two{
            
            position: relative;
                bottom: 0px;
            
            }
            .test{
                font-style: italic;
                font-family:'Courier New', Courier, monospace;
                color: red;
                font-weight: 600;
                margin-top: 40px;
            }
            .input{
                display: block;
                margin-top: 50px;
                outline: none;


            
            }
            .inp{
                width: 250px;
                margin-top: 10px;
                outline: none;
                padding: 5px;
                

            }
            .btn{
                margin-left: 60px;
                margin-top: 40px;
            }
            .img{
                background-image: url(image/blurred-valentine-s-day-background_52683-32322.avif);
                background-size: contain;
                width: 100%;
                height: 100vh;
                max-width: 100%;

                
                
            } 
            .day{
                height: 250px; 
                margin-left: 10px;
            }
            .div1{
   
                height: 50px;
                width:50px;
                background-color: blue;
               
            }
            .div2{
                height: 50px;
                width:50px;
                background-color: green;
            }
            
            .move{
                color: #fff;
                right: 80px;
                position: absolute;
                z-index: 5;
                font-size: 50px;
            }
            .twolove{
                width: 170px;
                height: 150px;
                margin-left: 70px;
                margin-top: 50px;
            
            }
            .ay{
                background-image: url(image/second\ bacground.jpg);
                background-size: cover;
                height: 100vh;
                max-width: 100%;
            }
            
    }